extends layout
  body  
    p The Church of God of prophecy is a non-profit organization dedicated to leading others to discover the joy of Christ.We will kindly lend an ear to anyone in need regardless of how small/large you believe your problems might be.Everything done in our life is for the glory of our Creator.We provide a nice atmosphere to everyone to interact no matter their background.Now may the God who gives perseverance and encouragement grant you to be of the same mind with one another according to Christ Jesus, so that with one accord you may with one voice glorify the God and Father of our Lord Jesus Christ. Therefore, accept one another, just as Christ also accepted us to the glory of God.(Romans 15 : 7).One of the greatest  questions humans face is "Why are we here" the Bible answers this question and more.The Bible is a sacred text compiled of many works written by many authors individually over  time.Those who learn the lessons recorded in the Bible will be better prepared to face daily life.Thousands have found this collection of Christian texts the guide they needed to realize their faith in our Lord Jesus Christ.God sees us his precious children.“Yet to all who did receive Him, to those who believed in His name, He gave the right to become children of God—children born not of natural descent, nor of human decision or a husband’s will, but born of God”(John 1:12-13).God is very concerned about our problems.He wants us to maintain a good relationship and talk with him regularly just like we would with a friend.




















We hope that you'll remember him in your heart at all times.