doctype html
html
  head
    //meta 'uft-8'
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/animate.css')
    link(rel='stylesheet', href='/stylesheets/css/icomoon.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/css/magnific-popup.css')
    link(rel='stylesheet', href='/stylesheets/css/flexslider.css')
    link(rel='stylesheet', href='/stylesheets/css/owl.carousel.min.css')
    link(rel='stylesheet', href='/stylesheets/css/owl.theme.default.min.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    link(rel='script', href='/js/modernizr-2.6.2.min.js')
    link(rel='script', href='/js/respond.min.js')
  body
    block content
  foot
    link(rel='script', href='js/jquery.min.js')
    link(rel='script', href='js/jquery.easing.1.3.js')
    link(rel='script', href='js/bootstrap.min.js')
    link(rel='script', href='js/jquery.waypoints.min.js')
    link(rel='script', href='js/jquery.flexslider-min.js')
    link(rel='script', href='js/owl.carousel.min.js')
    link(rel='script', href='js/jquery.magnific-popup.min.js')
    link(rel='script', href='js/magnific-popup-options.js')
    link(rel='script', href='js/jquery.countTo.js')
    link(rel='script', href='js/main.js')
