//extends layout

block content
    div.fh5co-loader
    div#page
        nav.fh5co-nav (role='navigation')
            div.container-wrap
                div.top-menu
                    div.row
                        div.col-md-12.col-lg-offset-0.text-center
                            div#fh5co-logo
                                a(href='index.html') Church
                            div.col-md-12.col-md-offset-0.text-center.menu-1
                                ul
                                    li
                                        a(href='index.html') Home
                                    li.active
                                        a(href='sermons.html') Sermons
                                    li.has-dropdown
                                        a(href='news.html') News
                                        ul.dropdown
                                            li
                                                a(href='#') Ministry
                                            li
                                                a(href='#') Healing Ministry
                                            li
                                                a(href='#') Gospel Workers
                                            li
                                                a(href='#') Country Living
                                    li
                                        a(href='events.html') Events
                                    li
                                        a(href='about.html') About
                                    li
                                        a(href='contact.html') Contact
                                    li
                                        a.donate(href='#') Donate
    div.container-wrap
        aside#fh5co-hero